In [1]:
def hello_word():
    print("Hello word")

In [2]:
print(hello_word())
print(hello_word)

Hello word
None
<function hello_word at 0x0000000005F6B430>

In [3]:
def sum():
    a=10
    b=20
    c=30
    d=a+b+c

In [4]:
print(sum())

None

In [5]:
def sum():
    a=10
    b=20
    c=30
    d=a+b+c
    return d

In [6]:
print(sum())

60

In [7]:
def sum():
    a=10
    b=20
    c=30
    d=a+b+c
    print(d)

In [8]:
sum()

60

In [9]:
def sum(a,b):
    return a+b

In [10]:
sum(2,3)

5

In [11]:
a=int(input("Enter the first no"))
b=int(input("Enter the Second no"))
sum(a,b)

Enter the first no2
Enter the Second no3

5

In [12]:
def change_list(list1):    
    list1.append(20)   
    list1.append(30)  
    return list1

In [13]:
list2=[10,30,40,50]
change_list(list2)

[10, 30, 40, 50, 20, 30]

In [14]:
def change_string (str):    
    str = str + " Hows you " 
    return str

In [15]:
str="Hi I am there" 
change_string(str)

'Hi I am there Hows you '

In [16]:
def simple_interest(p,t,r):    
    return (p*t*r)/100    
p = float(input("Enter the principle amount? "))    
r = float(input("Enter the rate of interest? "))    
t = float(input("Enter the time in years? "))    
print("Simple Interest: ",simple_interest(p,r,t))

Enter the principle amount? 2
Enter the rate of interest? 3
Enter the time in years? 3
Simple Interest:  0.18

In [17]:
def printme(name,age=22):    
    print("My name is",name,"and age is",age)    
printme(name = "john") #the variable age is not passed into the function however the default value of age is considered in the function    
printme(age = 10,name="David")#the value of age is overwritten here, 10 will be printed

My name is john and age is 22
My name is David and age is 10

In [18]:
def printme(*name):
    print("type of passed argument is",type(name))
    for i in name:
        print(i)

In [19]:
printme("john","David","smith","nick")

type of passed argument is <class 'tuple'>
john
David
smith
nick

In [20]:
printme(["john","David","smith","nick"])

type of passed argument is <class 'tuple'>
['john', 'David', 'smith', 'nick']

In [21]:
printme({"john","David","smith","nick"})

type of passed argument is <class 'tuple'>
{'David', 'nick', 'smith', 'john'}

In [22]:
def food(**kwargs):  
    print(kwargs)  
food(a="Apple")  
food(fruits="Orange", Vegetables="Carrot")

{'a': 'Apple'}
{'fruits': 'Orange', 'Vegetables': 'Carrot'}

In [23]:
def simple_interest(p,t,r):    
    return (p*t*r)/100    
print("Simple Interest: ",simple_interest(t=10,r=10,p=1900))

Simple Interest:  1900.0